.create-recipe-whole-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aqua;
}

.recipe-name-description-container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

.ingredients-container {
        display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}

.instructions-container {
        display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}
