.open-review-modal-button {
    width: auto;
    /* padding: 10px; */
    /* margin: 0px 25px 5px 25px; */
    margin: 2px;
    border: 1px #A7727D solid;
    border-radius: 4px;
    background: #A7727D;
    color: white;
    font: bold;
    cursor: pointer;
}
