.edit-review-wrapper {
border-radius: 10px;
}

.edit-review-actions {
    display: flex;
    flex-direction: column;
}

.recipe-detail-page-your-rating-container {
    display: flex;
    flex-direction: column;
}

.stars {
    /* background-color: transparent; */
    border: none;
    /* cursor: pointer; */
    outline: none;
}
